@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;





.rotating-circle {
  width: 600px;
  height: 600px;
  border-radius: 50%; /* To make it circular */
  animation: rotate360 20s linear infinite; /* 3s is the duration, you can change it */
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}